
* {
    font-family: Verdana;
}

#gridParent {
    border: 3px solid black;
    float: left;
    position: relative;
    background-image: radial-gradient(circle, #1f8dbc, #1e9ac2, #27a7c7, #37b4cb, #49c1ce, #31c7cb, #16cdc5, #00d2bc, #00d1a2, #00ce7f, #00ca54, #06c406);
}

#game-controls {
    position: relative;
    float: left;
    padding-left: 10px;
}

.cells {
    position: absolute;
}

button {
    background-color: cadetblue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    display: inline-block;
    font-size: 16px;
}

button:hover {
    background-color: cornflowerblue;
}

button:disabled {
    background-color: lightgray;
    color: grey;
}


.snake {
    background-color: black;
    border: 1px solid white;
    border-radius: 15px;
}

.snake.head {
    background-color: wheat;
    background-repeat: no-repeat;
    background-size: 25px 25px;
    background-position: center;
    background-image: url("img/snake-eyes.png");
}

.fruit {
    background-repeat: no-repeat;
    background-size: 45px 30px;
    background-position: center;
    background-image: url("img/apple-fruit.png");
}

#points {
    font-size: 24px;
    color: cadetblue;
}

#gameOver {
    font-size: 30px;
    color: red;
}

#arrowPack {
    position: relative;
}

.arrows {
    height: 220px;
    width: 220px;
    position: absolute;
    touch-action: manipulation;
}

#player-name {
    font-size: 15px;
}

#up {
    left: 250;
    top: 70;
}

#right {
    left: 480;
    top: 250;
}

#down {
    left: 250;
    top: 450;
}

#left {
    left: 20;
    top: 250;
}

.litUp {
    background-color: green;
    background-color: green;
    border-radius: 120px;
}

table, td, th {  
    border: 1px solid #ddd;
    text-align: left;
}
  
table {
    border-collapse: collapse;
    width: 100%;
}
  
th, td {
    padding: 15px;
}